.theteam {
    background-color:rgb(239,229,216);
    padding-bottom: 70px;
}

.theteam-title {
    font-family: 'FuturaBold';
    text-transform: uppercase;
    text-align: center;
    padding:40px 20px 20px 20px;
    font-size:14px;
}

@media (min-width:1028px){
    .aboutus {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .ztv {
        width: 50% !important;
        padding: 0 0 30px 0;
        background-color: black;
        color: white;
        font-family: 'FuturaMedium';
        display: flex;
        flex-direction: column;
    }

    .theteam {
        background-color: rgb(239,229,216);
        padding-bottom: 70px;
        width: 50%;
    }

    .ztv-vlak {
        border: 7px solid white;
        margin: 0px 150px !important;
    }

    .ztv-text {
        font-size: 17px !important;
        padding: 20px 40px !important;
    }

    .theteam-title {
    font-family: 'FuturaBold';
    text-transform: uppercase;
    text-align: center;
    padding: 40px 70px 20px 80px;
    font-size: 34px;
    color: white;
}

.ztv-title {
    font-family: 'Notera';
    font-size: 80px !important;
    text-align: center;
    padding: 20px;
    color: rgb(207,191,166);
}
}