.slideFromRight-container {
    height:auto;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:30px 0;
}

.slideFromRight-one {
    height:auto;
    width:100%;
    display:flex;
    align-items:center ;
    justify-content: center;
    position:relative;
    min-height:350px;
}

.slideFromRight-two {
    color:green;
    font-size:40px;
    display:flex;
    align-items:center ;
    justify-content: center;
    min-height:200px;
    width:80%;
    z-index:2
}

.slideFromRight-two img {
    border:7px solid white
}

.slideFromRight-four {
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    /* min-height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slideFromRight-content {
    padding:20px;
    font-size:20px;
    color:white;
}

.slideFromRight-title{
    color:white;
    font-family: 'Notera';
    font-size:50px;
    font-weight: 400;
    padding:10px;
}

.slideFromRight-button{
    font-family: 'FuturaBold';
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.slideFromRight-button svg {
    margin-right: 5px;
}

.portRight {
    max-width: 250px;
    margin-right: 69px;
}

.land {
    max-width:320px;
}

.slideFromRight-one.portDiv {
    min-height: 470px;
}

@media (min-width:700px){
    .slideFromRight-two img {
        max-width: 100%;
    }
}

