form {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.form-container {
    display:flex;
    flex-direction: column;
}

.form-label {
    text-transform: uppercase;
    font-weight: 700;
    font-size:10px;
    letter-spacing: 1px;
}

input,
textarea {
    border:1px solid white;
    background-color:transparent;
    font-size:16px;
    padding:5px;
    margin:5px 0 20px 0;
}


.form-container.half {
    width:45%;
}

.form-container.name {
    margin-right:30px;
}

.form-container.full {
    width: 100%;
}