

@media (max-width:1099px){
  nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 10px;
  color:white;
  z-index: 100;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: white;
}

button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  position: absolute;
  top: 0px;
  left:0;
  width: 100%;
}

li  {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

li a {
  color:black
}

.menuText {
  font-family:'FuturaMedium';
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
  font-size:17px;
  color:black;
  padding:13px;
  border-top:2px solid rgb(207,191,166);
}

.mobNavContainer ul li:nth-last-child(2) .menuText{
  border-bottom:2px solid rgb(207,191,166);
  
}

.languageMob {
      color: black;
    width: 100vw;
}

.languageMob .switcher .languageSwitchLabel {
  padding: 3px 13px;
    font-size: 17px;
    letter-spacing: 5px;
    width: 100vw;
    border-top:2px solid rgb(207,191,166);
    border-bottom:2px solid rgb(207,191,166);
}


input[type="radio"]:checked+label {
    text-decoration: none;
    background-color:rgb(207,191,166);
    color:white;
}



ul:last-child {
  border-bottom: 2px solid rgb(207,191,166);
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navContainer{
  width: 100%;
  position: relative;
  background: #000;
  height: 100px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px 0 10px;
}

.TBSLogo{
  height: 30vmin;
  pointer-events: none;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding:10px 0 20px 0;
}

.TBSLogo svg {
  fill:white;
}
}

