.sltl {
    box-sizing: border-box;
}
.sltl-container {
    width:100vw;
    height:90vh;
    overflow:hidden;
    position: relative;
}

.sltl-panel-container {
    width:inherit;
    height:inherit;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.sltl-panel {
    height:70vh;
    width:55vw;
    background-color:black;
    box-sizing: border-box;
    position:relative;
}

.sltl-panel-container img {
    max-width: 21vw;
    display: block;
    margin: auto 0;
    position: absolute;
    right: 38vw;
    transform: translateY(-50%) !important;
    border: 15px solid white;
    background-color: white;
    top: 58%;
}

.sltl-title {
    font-family: 'Notera';
    font-size:80px;
    padding:10px 50px 10px 30px;
    color:white;
    text-align:left ;
}

.sltl-readmore {
    font-family:'FuturaMedium';
    font-size:12px;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform:uppercase;
    letter-spacing: 2px;
    font-weight:700;
}

.sltl-readmore svg {
    width:80px;
    height:80px;
}

img.landLeft {
    max-width: 34vw;
    right: 38vw;
}



.collabs .sltl-title {
    font-family: 'FuturaBold';
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    transform: translateX(40%);
}

.collabs .sltl-subtitle {
    font-family: 'FuturaMedium';
    font-size: 15px;
    letter-spacing: 3px;
    transform: translateX(39%);
    color: white;
    text-transform: uppercase;
}

.collabs .sltl-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width:70vw;
}

.collabs .sltl-panel-container img {
    max-width: 29vw;
    top: 50%;
    transform:translateY(-50%) !important;
    right:48vw;
}

.privateLabel .sltl-title {
    font-family: 'FuturaBold';
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.privateLabel .text-cont-sltl {
    box-sizing: border-box;
    overflow: hidden;
    height: 50%;
    width: 50%;
    transform: translate(35%,30%);
    box-sizing: border-box;
}

.privateLabel .sltl-subtitle {
    font-family: 'FuturaMedium';
    font-size: 15px;
    letter-spacing: 3px;
    padding: 0px 0px;
    color: white;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.privateLabel .sltl-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width:70vw;
}

.privateLabel .sltl-panel-container img {
    max-width: 29vw;
    top: 50%;
    transform:translateY(-50%) !important;
    right:48vw;
}

@media (min-width:1023px) and (max-width:1366px){
    .collabs .sltl-panel-container img {
        max-width: 36vw;
        top: 50%;
        transform:translateY(-50%) !important;
        right: 58vw;
    }

    .collabs .sltl-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        width: 100vw;
        }

    .privateLabel .sltl-panel-container img {
        max-width: 36vw;
        top: 50%;
        transform:translateY(-50%) !important;
        right: 58vw;
    }

    .privateLabel .sltl-panel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-direction: column;
        width: 100vw;
        }
}