.plRightComponent {
    display:flex;
    flex-direction: row;
    position: relative;
    height:55vh;
    margin:40px 0;
}

.plRightComponent-title {
    color:white;
    font-family:'FuturaBold';
    text-transform:uppercase;
    text-align: center;
    padding:20px 0 5px 0;
    font-size:20px;
    
}

.plRightComponent-list {
    color:white;
    text-align:center;
    font-family:'FuturaMedium';
    text-transform: uppercase;
    font-size:8px;
    letter-spacing: 2px;
    padding:0 20px;
    line-height: 15px;
}

.plRightImage img {
    width:100%
}

.plRightComponent .een {
    height:35vh;
    width:80vw;
    right:0;
    position:absolute;
}

.plRightComponent .twee {
    background-color:transparent;
    height:30vh;
    width:60vw;
    border:8px solid white;
    position: absolute;
    left:10vw;
    top:16vh;
}