.theteam-member {
    text-align: center;
    text-transform:uppercase;
    font-size:12px;
    padding:20px 20px 35px 20px ;
}

.theteam-member-name {
    font-family:'FuturaBold';
    letter-spacing: 1px;
}

.theteam-member-title {
    letter-spacing: 2px;
    font-size:10px;
}