.vlak1 {
    background-color: rgb(207,191,166);
    margin:20px;
    font-family: 'FuturaMedium';
    color:white;
    text-align: center;
    line-height: 18px; 
    padding:30px 25px;
    letter-spacing: 1px;
    font-size:16px;
}

@media (min-width:700px){
    .vlak1 {    
    padding: 80px 300px;
    font-size: 25px;
    font-weight: normal;
    line-height: 27px;    
    margin: 0 25px;
    }
}