.vlak1 {
    background-color:rgb(207,191,166);
    margin:0 100px 50px 100px;
    padding:80px 300px;
    font-size:25px;
    font-weight: normal;
    line-height: 27px;
    color:white;
    text-align: center;
}