@font-face {
  font-family:'Notera';
  src:url('/src/assets//fonts/Notera_PersonalUseOnly.ttf')
}

@font-face {
  font-family:'FuturaMedium';
  src:url('/src/assets//fonts/Futura-Medium.ttf')
}
@font-face {
  font-family:'FuturaBold';
  src:url('/src/assets//fonts/Futura-Bold.ttf')
}

